/* ir의 CSS */
#wrap main > * {text-align: center;}
#wrap main .path {
    background-color: #fcfcfc;
    text-align: right;
    padding: 12px 60px 12px 0;
    font-size: 0.75rem;
    letter-spacing: 0;
    border: 1px solid #f1f1f1;
    border-left: 0; border-right: 0;
}
#wrap main .path * {color: #808080;}
#wrap main .path a {}
#wrap main .path img {margin: 0 8px;}
#wrap main .path em {}
#wrap main h1 {
    margin: 80px 0 20px 0;
    font-size: 3.75rem;
    font-weight: 700;
}
#wrap main>p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #808080;
    margin-bottom: 40px;
}
#wrap main .bg {
    background-color: #fcfcfc;
    padding: 80px 0;
}
/* 레이아웃 위치/정렬 기법 inline-block, float, flex, grid,position */
#wrap main .bg .ir_list {
    overflow: hidden;
}
#wrap main .bg .ir_list a {
    float: left;
}
#wrap main .bg .ir_list a h2 {}
#wrap main .bg .ir_list a p {}