/* sns.css */
#wrap main {text-align: center;}
#wrap main .path{
    width: 100%;
    padding: 10px 60px;
    text-align: right;
    font-size: 0.75rem;
    letter-spacing: 0;
    background-color: #FCFCFC;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
#wrap main .path a{color:#808080;}
#wrap main .path img{}
#wrap main .path span{color:#808080;}
#wrap main h1{
    font-size: 3.75rem;
    font-weight: 600;
    padding: 80px 0 15px 0;
}
#wrap main p{
    font-size: 1.125rem;
    color: #808080;
    padding-bottom: 80px;
}
#wrap main .sns_container{}
#wrap main .sns_container .sns_box{ 
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 80px 0;
    background-color: #fcfcfc;
}
#wrap main .sns_container .sns_box a {
    background-color: #f5f5f5;
    width: 350px; height: 300px;
    margin-right: 15px;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #eee;
    padding: 55px 0;
}
#wrap main .sns_container .sns_box a:hover {
    background-color: #fff;
    border: 1px solid #138FBF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
#wrap main .sns_container .sns_box a:last-child {margin-right: 0;}
#wrap main .sns_container .sns_box a span{

}
#wrap main .sns_container .sns_box a span img{
    /* width: 80px; height: 80px; */
    padding-bottom: 10px;}
#wrap main .sns_container .sns_box a h2{
    margin: 30px 0;
    font-size: 1.5rem;
    font-weight: 600;
}
#wrap main .sns_container .sns_box a p{
    font-size: 1rem;
    color: #bbb;
}