/* sns.css */
#wrap main {text-align: center;}
#wrap main .path{
    width: 100%;
    padding: 10px 60px;
    text-align: right;
    font-size: 0.75rem;
    letter-spacing: 0;
    background-color: #FCFCFC;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
#wrap main .path a{color:#808080;}
#wrap main .path img{}
#wrap main .path span{color:#808080;}
#wrap main h1{
    font-size: 3.75rem;
    font-weight: 600;
    margin: 80px 0 15px 0;
}
#wrap main>p{
    font-size: 1.125rem;
    color: #808080;
    margin:0 0 80px;
}
#wrap main .bg{
    width: 100%;
    padding: 80px 0;
    background-color: #fcfcfc;
}
#wrap main .bg .sns_box{ 
    width: 1090px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 80px auto;
}
#wrap main .bg .sns_box a {
    background-color: #f5f5f5;
    width: 350px; height: 300px ;
    border: 1px solid #eee;
    padding-top:55px;
}
#wrap main .bg .sns_box a:hover {
    background-color: #fff;
    border: 1px solid #138FBF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
#wrap main .bg .sns_box a:last-child {}
#wrap main .bg .sns_box a p>img{
    margin-bottom: 10px;
    }
#wrap main .bg .sns_box a p:first-child {margin-bottom: 40px;}
#wrap main .bg .sns_box a h2{
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}
#wrap main .bg .sns_box a p:last-child {
    margin-bottom: 55px;
    font-size: 1rem;
    color: #bbb;
}